* {
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#game-container {
    border: 15px solid gold;
    box-shadow: 
        inset 0 0 10px rgba(218, 165, 32, 0.8),
        0 0 20px rgba(218, 165, 32, 0.6);
    padding: 5px;
    background: linear-gradient(145deg, #DAA520, #FFD700, #B8860B);
}
